<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <div class="create-blogs content d-flex justify-content-center align-items-center">
            <div class="row">
                <form>
                    <div class="form-group mb-3">
                        <label for="title" class="form-label">Blog title</label>
                        <input type="text" class="form-control" name="title" id="title" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="snippet" class="form-label">Blog Snippet</label>
                        <input type="text"  class="form-control" id="snippet" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="body" class="form-label">Blog Body</label>
                        <textarea name="" class="form-control" id="body" cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>        
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>