<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs of | <%= title %> </title>
</head> -->
<body>
    <%- include('./partials/nav.ejs') %>

    <!-- <nav>
        <div class="site-title">
            <a href="/"><h1>coding blogs</h1></a>
            <p>A Coding Blog Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav> -->
    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad aliquid animi qui distinctio dignissimos earum magnam impedit alias blanditiis incidunt asperiores inventore, voluptatem repellendus in amet nulla ab itaque temporibus?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint in inventore quidem numquam omnis quibusdam cumque consectetur! Itaque sed dolore libero, corrupti molestiae iste ipsum dolores suscipit, optio, expedita quod.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas repellendus dolores voluptatum soluta ratione. Nulla adipisci ex, reprehenderit in labore necessitatibus? Harum perferendis nostrum optio ex obcaecati exercitationem porro fugiat.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>